* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container {
    width: 100%;
    height: 100vh;
    background: url(./files_2/rasm3.png) no-repeat;
    background-size: 100% 100%;
}

.box {
    width: 100%;
    height: 9.5vh;
    position: absolute;
    left: 0;
    bottom: 50%;
}

.link {
    width: 100%;
    height: auto;
    justify-content: space-between;
    transition: all 0.9s;
    align-items: center;
}

.g {
    width: 45px;
    height: 45px;
    font-size: 35px;
    font-family: Bahnschrift;
    background-color: rgb(72, 237, 113);
    color: white;
    margin: 10px 0px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    display: flex;
    padding: 10px 10px;
}

.i {
    width: 45px;
    height: 45px;
    font-size: 35px;
    background-color: rgb(238, 139, 255);
    font-family: Bahnschrift;
    color: white;
    margin: 10px 0px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    display: flex;
    padding: 10px 10px;
}

.t {
    width: 45px;
    height: 45px;
    font-size: 35px;
    font-family: Bahnschrift;
    background-color: rgb(83, 235, 255);
    color: white;
    margin: 10px 0px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    display: flex;
    padding: 10px 10px;
}

.g::after {
    content: "Google";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s;
    transform: translateX(-150px);
    opacity: 0;
}

.i::after {
    content: "Instagram";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s;
    transform: translateX(-150px);
    opacity: 0;
}

.t::after {
    content: "Telegram";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s;
    transform: translateX(-150px);
    opacity: 0;
}

.t:hover {
    width: 150px;
}

.g:hover {
    width: 150px;
}

.i:hover {
    width: 160px;
}

.t:hover::after {
    transform: translateX(0px);
    opacity: 1;
}

.g:hover::after {
    transform: translateX(0px);
    opacity: 1;
}

.i:hover::after {
    transform: translateX(0px);
    opacity: 1;
}

.menu {
    padding: auto;
    text-align: end;
}

.home {
    color: rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 50px;
    font-size: 20px;
    font-family: Ravie;
}

.img {
    position: absolute;
    left: 10%;
    width: 50px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        background-size: 300% 150%;
    }
}

@media screen and (max-width: 425px) {
    .home {
        text-align: center;
        margin-left: 10px;
        margin-right: 15px;
    }
    .t:hover {
        width: 160px;
    }
    .i:hover {
        width: 160px;
    }
    .g:hover {
        width: 160px;
    }
    .t {
        width: 50px;
        height: 50px;
        font-size: 40px;
        background-color: rgb(116, 236, 247);
        color: white;
        margin: 10px 0px;
        cursor: pointer;
        transition: all 0.3s;
        position: relative;
        display: flex;
    }
    .g {
        width: 50px;
        height: 50px;
        font-size: 40px;
        background-color: rgb(72, 237, 113);
        color: white;
        margin: 10px 0px;
        cursor: pointer;
        transition: all 0.3s;
        position: relative;
        display: flex;
    }
    .i {
        width: 50px;
        height: 50px;
        font-size: 40px;
        background-color: rgb(255, 130, 240);
        color: white;
        margin: 10px 0px;
        cursor: pointer;
        transition: all 0.3s;
        position: relative;
        display: flex;
    }
}

@media screen and (max-width: 375px) {
    .img {
        position: absolute;
        left: 0;
        width: 35px;
        cursor: pointer;
    }
}