@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'IBM Plex Mono';
}

.h1 {
    font-family: 'IBM Plex Mono';
    color: white;
    font-weight: 400;
    font-size: 30px;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( blue, black);
}

.text {
    width: auto;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxs {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.box {
    width: 420px;
    height: 320px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    padding: 15px 20px 50px;
    transform: scale(0.9);
    margin: 25px;
    border-radius: 6%;
}

.box img {
    width: 100%;
    border-radius: 4%;
}

.box {
    background-image: url(./files/cool-4k-wallpaper-2.jpg);
}

.box p {
    width: 100%;
    font-size: 2.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: rgb(253, 253, 253);
}

@media screen and (max-width:500px) {
    .box {
        width: 250px;
        height: auto;
    }
    .boxs {
        margin: 0 auto;
    }
}