@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.container {
    width: 92.2%;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 120px;
    background: #4A2B33;
    color: #D27487;
}

.b-n {
    display: flex;
    /* flex-flow: row wrap; */
}

.menu {
    display: flex;
    margin-top: 47px;
    margin-right: 296.68px;
}

.about {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #D27487;
    cursor: pointer;
}

.b {
    margin-left: 20px;
}

.i {
    margin-left: 20px;
}

.m {
    margin-left: 20px;
}

.h1 {
    margin-top: 2.4%;
    font-size: 200%;
    margin-right: 29%;
    cursor: pointer;
}

.img2_ {
    width: 100%;
    height: auto;
}

.imges {
    margin-top: 47px;
}

.i-2 {
    margin-left: 16.4px;
}

.i-3 {
    margin-left: 16.4px;
}

header {
    width: 100%;
    background-color: #4A2B33;
}

.box1 {
    margin: 8% auto;
    margin-bottom: 10%;
}

.about_us {
    font-family: 'Azeret Mono';
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    align-items: center;
    color: #222222;
}

.text {
    width: 80%;
    font-family: "Inter";
    font-weight: 400;
    font-size: 150%;
    color: #222222;
    line-height: 45px;
    margin: 0 auto;
    text-align: center;
}

.box2 {
    display: flex;
}

.menu-t {
    font-family: 'Azeret Mono';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-top: 120px;
    color: #6F6F64;
}

.sect2 {
    background: #E9E9E3;
}

.group {
    width: 70%;
    height: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 10%;
    margin-right: -29px;
}

.text2 {
    margin-top: 17px;
    width: 60%px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 150%;
    line-height: 45px;
    color: #6F6F64;
}

.btn1 {
    width: 50%;
    height: 58px;
    background: #6F6F64;
    border: 2px solid #6F6F64;
    margin-top: 74px;
    border-radius: 0px;
}

.btn2 {
    width: 50%;
    height: 58px;
    background: #E9E9E3;
    border: 2px solid #6F6F64;
    border-radius: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.btn3 {
    width: 50%;
    height: 58px;
    background: #E9E9E3;
    border: 2px solid #6F6F64;
    border-radius: 0px;
}

.sec3 {
    width: 100%;
    background: #AA9E54;
}

.locat {
    font-family: 'Azeret Mono';
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.box3 {
    margin-top: 170px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.f_g {
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 10%;
}

.s_g {
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 10%;
}

.th_g {
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 10%;
}

.hour {
    font-family: 'Azeret Mono';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.mon {
    font-family: 'Azeret Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.img_f {
    width: 100%;
}

.cuba {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.pm {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    margin: 0 auto;
}

.mon_t {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.box4 {
    margin-top: 1%;
}

.box5 {
    width: 100%;
    background: #4A2B33;
    display: flex;
    flex-flow: row wrap;
}

.award {
    width: 413px;
    font-family: 'Azeret Mono';
    font-weight: 400;
    font-size: 200%;
    letter-spacing: 1px;
    color: #D27487;
    margin-top: 3%;
    margin-left: 56px;
}

.lorem {
    width: 574px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 100%;
    line-height: 20px;
    color: #D27487;
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: 100px;
}

footer {
    width: 100%;
    background: #FFFFFF;
    border-radius: 0px;
}

.box6 {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.texts {
    margin: 0 auto;
    width: 60%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #1F1F1F;
    margin-top: 56px;
    display: flex;
    justify-content: space-around;
}

.links {
    width: 40%;
    height: 27px;
    text-align: center;
    margin: 19px auto;
    color: #6D6B67;
}

@media screen and (max-width: 700px) {
    .box2 {
        display: flex;
        flex-flow: row wrap;
    }
    .group {
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 660px) {
    .h1 {
        display: none;
    }
}

@media screen and ( max-width: 1415px) {
    .award {
        margin: 0 auto;
    }
    .lorem {
        margin: 20px auto;
    }
}